{% extends 'back-office.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="blue">Liste des Services</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button id="btnDesactivéPromo" {{ sr.desactivePromo() }} type="button" class="btn btn-primary">Dés Promo</button>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button id="btnCalculerPromo" {{ sr.calculerPromo() }} type="button" class="btn btn-primary">Act Promo</button>

                </div>


            </div>
        </div>

    </div>


    {#    <form action="{{ path('app_service_rechercher#}











    <table class="table"  >
        <thead>
        <tr>
            <th class="blue">Nom </th>
            <th class="blue">Titre </th>
            <th class="blue">Durée</th>
            <th class="blue">Domaine</th>
            <th class="blue">Prix</th>
            <th class="blue">PrixSoldé</th>

            <th class="blue">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.nomService }}</td>
                <td>{{ service.titreService }}</td>
                <td>{{ service.tmpservice }}</td>
                <td>{{ service.domaine }}</td>
                <td>{{ service.prix }} Tokens</td>
                <td>
                    {% if service.prixSolde == 0 %}
                        Pas de remise
                    {% else %}
                        {{ service.prixSolde }} Tokens
                    {% endif %}
                </td>




                <td>
                    <a href="{{ path('app_service_show', {'idService': service.idService}) }}" class="btn btn-primary">Détail</a>
                    <a>|</a>
                    <a href="{{ path('app_service_edit', {'idService': service.idService}) }}" class="btn btn-primary">Modifie</a>
                    <a>|</a>
                    <a href="{{ path('app_avis_new2', {'idService': service.idService}) }}" class="btn btn-primary">Rating</a>

                </td>
            </tr>
            <tr class="table-separator">
                <td colspan="8"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}">Ajouter Service</a>

{% endblock %}