{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <h1 class="blue">Liste des Services</h1>
    </div>


    <table class="table"  >
        <thead>
        <tr>
            <th class="blue">Nom </th>
            <th class="blue">Titre </th>
            <th class="blue">Durée</th>
            <th class="blue">Domaine</th>
            <th class="blue">Prix</th>

            <th class="blue">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.nomService }}</td>
                <td>{{ service.titreService }}</td>
                <td>{{ service.tmpservice }}</td>
                <td>{{ service.domaine }}</td>
                <td>{{ service.prix }} Tokens</td>


                <td>
                    <a href="{{ path('app_service_show', {'idService': service.idService}) }}" class="btn btn-primary">Détail</a>
                    <a href="{{ path('app_service_edit', {'idService': service.idService}) }}" class="btn btn-primary">Modifie</a>

                </td>
            </tr>
            <tr class="table-separator">
                <td colspan="8"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}">Ajouter Service</a>
{% endblock %}
