{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            .btn {
                display: inline-block;
                width: 100%;
                padding: 12px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 16px;
                text-align: center;
                text-decoration: none;
                line-height: 1;
            }

            .btn:hover {
                background-color: #0056b3;
            }

            .btn:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }   }
    </style>

    <div class="container">
        <div>
            <h1> Détail Service</h1>

            <table class="table">
                <tbody>
                <tr>
                    <td><img src="{{ asset('images/' ~ service.img) }}" alt="Image" style="max-width: 100px;"></td>
                </tr>


                <tr>
                    <th>Nom du service :</th>
                    <td>{{ service.nomService }}</td>
                </tr>
                <tr>
                    <th>TitreService :</th>
                    <td>{{ service.titreService }}</td>
                </tr>
                <tr>
                    <th>Durée :</th>
                    <td>{{ service.tmpservice }}</td>
                </tr>
                <tr>
                    <th>Domaine :</th>
                    <td>{{ service.domaine }}</td>
                </tr>
                <tr>
                    <th>Prix :</th>
                    <td>{{ service.prix }} Tokens</td>
                </tr>
                <tr>
                    <th>Prixsolde :</th>
                    <td>{{ service.prixsolde }} Tokens</td>
                </tr>

                </tbody>
            </table>

            <a href="{{ path('app_service_index') }}">Retourne Liste</a>
<a>  | </a>
            <a href="{{ path('app_service_edit', {'idService': service.idService}) }}">Modifier</a>

            {{ include('service/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
