{% extends 'back-office.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            .btn {
                display: inline-block;
                width: 100%;
                padding: 12px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 16px;
                text-align: center;
                text-decoration: none;
                line-height: 1;
            }

            .btn:hover {
                background-color: #0056b3;
            }

            .btn:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }   }
    </style>

    <div class="container">
        <div>
            <div style="text-align: center;">
                <h1 style="color: #007bff; font-weight: bold;">Détail Service</h1>
            </div>


            <table class="table">
                <tbody>
                <tr>
                    <td colspan="2"><img src="{{ asset('images/' ~ service.img) }}" alt="Image" style="max-width: 500px;"></td>
                </tr>

                <tr>
                    <th style="color: #007bff; text-align: left;">Nom du service :</th>
                    <td style="font-weight: bold;">{{ service.nomService }}</td>
                </tr>
                <tr>
                    <th style="color: #007bff; text-align: left;">Titre Service :</th>
                    <td style="font-weight: bold;">{{ service.titreService }}</td>
                </tr>
                <tr>
                    <th style="color: #007bff; text-align: left;">Durée :</th>
                    <td style="font-weight: bold;">{{ service.tmpservice }}</td>
                </tr>
                <tr>
                    <th style="color: #007bff; text-align: left;">Domaine :</th>
                    <td style="font-weight: bold;">{{ service.domaine }}</td>
                </tr>
                <tr>
                    <th style="color: #007bff; text-align: left;">Prix :</th>
                    <td style="font-weight: bold;">{{ service.prix }} Tokens</td>

                </tr>
                <tr>
                    <th style="color: #007bff; text-align: left;">Prix Soldé :</th>
                    <td style="font-weight: bold;">
                        {% if service.prixsolde == 0 %}
                            Pas de remise
                        {% else %}
                            {{ service.prixsolde }} Tokens
                        {% endif %}
                    </td>
                </tr>

                {#<tr>#}
                {#    <th style="color: #007bff; text-align: left;">Prix Soldé :</th>#}
                {#    <td style="font-weight: bold;">{{ service.prixsolde }} Tokens</td>#}
                {#</tr>#}
                </tbody>
            </table>


        </div>
    </div>

    <div style="text-align: center;">
        <a href="{{ path('app_service_index') }}" style="font-weight: bold;">Retourne Liste</a>
        <a>|</a>
        <a href="{{ path('app_service_edit', {'idService': service.idService}) }}" style="font-weight: bold;">Modifier</a>
        <div class="btn btn-danger">
            {{ include('service/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
