{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>  Nom Service</th>
                <th>  Nombre Etoile</th>
                <th>  Commentaire</th>
                <th>  actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avis in avis %}
            <tr>
                <td>{{ avis.idAvis }}</td>
                <td>{{ avis.nbrEtoile }}</td>
                <td>{{ avis.text }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'idAvis': avis.idAvis}) }}">Détail</a>
                    <a href="{{ path('app_avis_edit', {'idAvis': avis.idAvis}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Donne Rating</a>
{% endblock %}
