{% extends 'base.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}

    <div class="page-title aos-init aos-animate" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Topic</h1>
                        <p class="mb-0">Liste des topic.</p>

                    </div>
                </div>
            </div>
        </div>

    </div>



    <section id="courses-list" class="section courses-list">

        <div class="container">

            <div class="row">
                {% for topic in pagination %}

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="course-item">
                        <img src="{{ asset('uploads/images/'~ topic.image) }}" class="img-fluid" alt="">

                       <a href="{{ path('app_topic_edit', {'id_topic': topic.id_topic}) }}"> <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="category">Edit</p>
                            </div></a>

                            <h3><a href="{{ path('app_topic_show', {'id_topic': topic.id_topic}) }}">{{ topic.titreTopic }}</a></h3>
                            <p class="description">{{ topic.contenu }}</p>


                        </div>
                    </div>
                </div> <!-- End Course Item-->

{% endfor %}

            </div>

        </div>

    </section>






    <div class="buttons">
        <a href="{{ path('app_topic_new') }}" class="btn btn-primary">Create new</a>
        <a href="{{ path('app_topic_sorted_by_comments') }}" class="btn btn-secondary">Topic les PLUS TRENDY</a>
    </div>


    <div class="pagination-container" style="display: flex; justify-content: center;">
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>



{% endblock %}
